<section class="container d-flex justify-content-center my-5">
  <div class="containerTab w-100">
    <div class="tabs">
      <button class="btnNews btn1 active" id="1">Sport</button>
      <button class="btnNews btn2" id="2">News</button>
      <button class="btnNews btn3" id="3">Currency exchange</button>
      <button class="btnNews btn4" id="4">Weather</button>
    </div>
    <div class="sections">
      <div class="content content1 active">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="btn btn-default" href="{{sport.foot1_href}}"
              >🚵‍♀️ {{sport.foot1}}</a
            >
          </li>
          <li class="list-group-item">
            <a class="btn btn-default" href="{{sport.foot2_href}}"
              >🚵‍♀️ {{sport.foot2}}</a
            >
          </li>
          <li class="list-group-item">
            <a class="btn btn-default" href="{{sport.foot3_href}}"
              >🚵‍♀️ {{sport.foot3}}</a
            >
          </li>
          <li class="list-group-item">
            <a class="btn btn-default" href="{{sport.box1_href}}"
              >🚵‍♀️ {{sport.box1}}</a
            >
          </li>
          <li class="list-group-item">
            <a class="btn btn-default" href="{{sport.box2_href}}"
              >🚵‍♀️ {{sport.box2}}</a
            >
          </li>
          <li class="list-group-item">
            <a class="btn btn-default" href="{{sport.box3_href}}"
              >🚵‍♀️ {{sport.box3}}</a
            >
          </li>
        </ul>
      </div>

      <div class="content content2">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="btn btn-default" href="{{news.oboz1_href}}"
              >📺 {{news.oboz1}}</a
            >
          </li>
          <li class="list-group-item">
            <a class="btn btn-default" href="{{news.oboz2_href}}"
              >📺 {{news.oboz2}}</a
            >
          </li>
          <li class="list-group-item">
            <a class="btn btn-default" href="{{news.korr1_href}}"
              >📺 {{news.korr1}}</a
            >
          </li>
          <li class="list-group-item">
            <a class="btn btn-default" href="{{news.korr2_href}}"
              >📺 {{news.korr2}}</a
            >
          </li>
          <li class="list-group-item">
            <a class="btn btn-default" href="{{news.bbc1_href}}"
              >📺 {{news.bbc1}}</a
            >
          </li>
          <li class="list-group-item">
            <a class="btn btn-default" href="{{news.bbc2_href}}"
              >📺 {{news.bbc2}}</a
            >
          </li>
        </ul>
      </div>
      <div class="content content3">
        <ul class="list-group">
          <li class="list-group-item">
            <a
              class="btn btn-default"
              href="https://privatbank.ua/ru/rates-archive"
              >💵 {{valute.bank1_usd}}</a
            >
          </li>
          <li class="list-group-item">
            <a
              class="btn btn-default"
              href="https://bank.gov.ua/ua/markets/exchangerates"
              >💵 {{valute.bank2_usd}}</a
            >
          </li>
          <li class="list-group-item">
            <a
              class="btn btn-default"
              href="https://my.ukrsibbank.com/ru/personal/operations/currency_exchange/"
              >💵 {{valute.bank3_usd}}</a
            >
          </li>
          <li class="list-group-item">
            <a
              class="btn btn-default"
              href="https://privatbank.ua/ru/rates-archive"
              >💵 {{valute.bank1_eur}}</a
            >
          </li>
          <li class="list-group-item">
            <a
              class="btn btn-default"
              href="https://bank.gov.ua/ua/markets/exchangerates"
              >💵 {{valute.bank2_eur}}</a
            >
          </li>
          <li class="list-group-item">
            <a
              class="btn btn-default"
              href="https://my.ukrsibbank.com/ru/personal/operations/currency_exchange/"
              >💵 {{valute.bank3_eur}}</a
            >
          </li>
        </ul>
      </div>
      <div class="content content4">
        <ul class="list-group">
          <li class="list-group-item">
            <a
              class="btn btn-default"
              href="https://www.gismeteo.ua/weather-kyiv-4944/now/"
              >🌤 {{weather.gis1}}</a
            >
          </li>
          <li class="list-group-item">
            <a
              class="btn btn-default"
              href="https://www.gismeteo.ua/weather-washington-7150/now/"
              >🌤 {{weather.gis2}}</a
            >
          </li>
          <li class="list-group-item">
            <a
              class="btn btn-default"
              href="https://www.gismeteo.ua/weather-london-744/now/"
              >🌤 {{weather.gis3}}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
